// style colors
$primary-black: #232323;
$primary-white: #F2F2F2;
$secondary-dark-gray: #4B4B4B;
$secondary-light-gray: #C2C2C2;
$accent-spotify: #1DB954;

$switch-gray: #929292;

:root {
    --primary-black: #232323;
    --primary-white: #F2F2F2;
    --secondary-dark-gray: #4B4B4B;
    --secondary-light-gray: #C2C2C2;
    --accent-spotify: #1DB954;

    --switch-gray: #929292;

    --background-color: #F2F2F2;
    --text-color: #232323;
}